[submodule "submodules/prealpha"]
	path = submodules/prealpha
	url = git@github.com:scroll-tech/dev-portal.git
[submodule "submodules/home"]
	path = submodules/home
	url = git@github.com:scroll-tech/homepage.git
[submodule "submodules/rollupscan"]
	path = submodules/rollupscan
	url = git@github.com:scroll-tech/rollup-explorer-frontend.git
[submodule "submodules/bridge"]
	path = submodules/bridge
	url = git@github.com:scroll-tech/bridge-frontend.git
[submodule "submodules/swap"]
	path = submodules/swap
	url = git@github.com:scroll-dev/uniswap-interface.git
[submodule "submodules/faucet"]
	path = submodules/faucet
	url = git@github.com:scroll-tech/eth-faucet.git
[submodule "submodules/tutorial"]
	path = submodules/tutorial
	url = git@github.com:scroll-tech/scroll-doc-generator.git
