.Layout {
  text-align: center;
  background-color: #635e60;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.RouterLinks {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
}

.RouterLinks a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}

.Outlet {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.ExternalLink {
  color: #61dafb;
}

.Home {
  font-size: 2rem;
}

.ScrollLogo {
  height: 30vmin;
  pointer-events: none;
  margin: 2rem;
}

.Documentation {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  min-height: 0;
}

.Iframe {
  flex: 1 1 auto;
  border: 0;
}

.FullScreen {
  width: 100vw;
  height: calc(100vh - 5rem);
  border: 0;
}
