.rollup-app {
  .wrapper {
    @apply max-w-7xl mx-auto;
    padding-left: 16px;
    padding-right: 16px;
    @media (min-width: theme("screens.md")) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .ant-table-thead > tr > th {
    background: #fff;
  }

  .ant-table-pagination-right {
    margin-right: 16px;
  }

  .footer .link-container li {
    @apply text-sm;
    letter-spacing: 24px;
  }

  .footer .link-container li a {
    color: #e2e2e2;
  }

  .footer .link-container li:first-child {
    @apply uppercase font-bold  text-white;
    margin-bottom: -12px;
  }

  thead[class*="ant-table-thead"] th {
    @apply !font-bold;
    font-size: 16px;
  }

  .ant-tag {
    @apply inline-block text-center border-none;
    line-height: 22px;
    height: 22px !important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px !important;
    border-radius: 38px !important;
    @media (min-width: theme("screens.md")) {
      width: 112px !important;
      line-height: 30px;
      height: 30px !important;
      font-size: 14px !important;
      text-align: center;
      border-radius: 64px !important;
    }
  }

  .scroll-tag-precommitted {
    @apply !bg-[#ffb21c1A] !text-[#ffb21c];
  }
  .scroll-tag-committed {
    @apply !bg-[#29c2ce1A] !text-[#29c2ce];
  }

  .scroll-tag-finalized {
    @apply !bg-[#07C7761A] !text-[#07c776];
  }

  .scroll-tag-skipped {
    @apply !bg-[#BD63E21A] !text-[#BD63E2];
  }

  .scroll-tag-unknown {
    @apply !bg-[#f13b761A] !text-[#f13b76];
  }

  .container {
    padding: 0 2rem;
  }

  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}
