@tailwind base;
@tailwind components;
@tailwind utilities;

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
  vertical-align: initial;
}

html {
  scroll-padding-top: 140px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "SF UI Text";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

:root {
  --swiper-theme-color: #eb7106 !important;
  /* --swiper-pagination-bullet-inactive-color: #595959; */

  /* semibold/light never been used  */
  --onboard-font-family-normal: "SF UI Text", "system-ui", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "Segoe UI", "Arial", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* need update after customize web3-onboard */
  --onboard-primary-100: #fee7e030;
  --onboard-primary-200: #f8c5a2;
  --onboard-primary-300: #f2a364;
  --onboard-primary-400: #f08c38;
  --onboard-primary-500: #eb7106;
  --onboard-font-size-7: 1.4rem;
  --onboard-font-size-5: 1.6rem;
  --onboard-spacing-4: 1.6rem;
  --onboard-spacing-5: 0.8rem;
}

onboard-v2 .outer-container icon {
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (min-width: 900px) {
  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide:nth-of-type(1) {
    align-items: flex-start;
  }
  .swiper-slide:nth-of-type(2) {
    align-items: center;
  }
  .swiper-slide:nth-last-of-type(1) {
    align-items: flex-end;
  }
}

.markdown-body {
  /* height: 100vh; */
  /* overflow: scroll; */
}
.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ul {
  list-style-type: disc;
}

.header-link {
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 1em;
  cursor: pointer;
  display: block;
  font-weight: lighter;
  line-height: 2.8rem;
  margin: 0.8rem 0;
  padding-right: 1.8em;
  transition: all 0.2s;
}

.header-link.active,
.header-link:hover,
.header-link:focus {
  color: #eb7106;
  background-color: #f8f8f8;
}

.header-link a {
  display: inline-flex;
  gap: 0.5em;
  width: 100%;
  padding: 0.15em 0 0.15em 0;
}

.header-link.depth-3 {
  padding-left: 2rem;
}
.header-link.depth-4 {
  padding-left: 3rem;
}

.header-link a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
