@tailwind base;
@tailwind components;
@tailwind utilities;

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
  vertical-align: initial;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "SF UI Text";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Pulp Display";
  src: url("./assets/fonts/PulpDisplay-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SF UI Text";
  src: url("./assets/fonts/SFUIText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
