name: "Merge main back to staging"

on:
  pull_request:
    branches:
      - mock-main
    types:
      - closed

jobs:
  create-merge-back-pr:
    if: |
      success() && contains(github.event.pull_request.title , ' [bot]')
    name: "Create PR to merge main back to staging"
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v3"
        with:
          fetch-depth: 0
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
      - name: Create main->staging PR
        env:
          GH_TOKEN: ${{ secrets.WRITE_TOKEN }}
        run: |
          gh pr create --base mock-staging \
                       --title 'ci: merge main branch back to staging [bot]' \
                       --body ''
